# Pythonのキャッシュが自動で生成されているので除外
__pycache__/

#環境変数は除外
.env

#仮想環境は除外
/venv/

#mediaディレクトリに.gitkeepというファイルを作成し、それ以外は除外
/media/*
!/media/.gitkeep

#staticディレクトリに.gitkeepというファイルを作成し、それ以外は除外
/static/*
!/static/.gitkeep

#DBは除外
db.sqlite3