#checkPassword {
    display: none;
  }
  .hideText, .showText {
    border: none;
    outline: none;
  }
  .togglePassword {
    border: 1px solid;
    border-radius: 2px;
  }
  .showText {
    display: none;
  }
  .hideText {
    display: inline;
  }
  .fa-eye:before {
    display: inline;
    margin-left: 5px; 
  }
  .fa-eye-slash:before {
    display: none;
  }
  #checkPassword:checked + .togglePassword > .fa-eye:before {
    display: none;
  }
  #checkPassword:checked + .togglePassword > .fa-eye-slash:before {
    display: inline-block;
  }
  #checkPassword:checked + .togglePassword > .hideText {
    display: none;
  }
  #checkPassword:checked + .togglePassword > .showText {
    display: inline-block;
  }
  